<style>
@import url('https://fonts.googleapis.com/css?family=Chivo|Cousine|Niconne|Source+Sans+Pro');
</style> 
text{

	text-align : center;
	padding-top: 25%;
	font: white;
font-family: 'Source Sans Pro', sans-serif;

}

h1{
	ffont-family: 'Cousine', monospace;

}

body{
background-color: #AED6F1;

}

button{

}