#content{

	text-align : center;
	padding-top: 25%;
	font: white;

}

h5{

	font-family: 'Oswald', sans-serif;

}
h1{
	font-family: 'Oswald', sans-serif;

}

body{
background-color: #AED6F1;

}